[2019-07-01 20:34] ivandeex opened #1 "Unit and integration tests"
This code lacks unit and integration tests

[2019-07-27 15:12] ddymko opened #5 "Docs update"
We need to add documentation that falls in line with the packer docs

[2019-07-27 15:13] ddymko opened #6 "Update to GoVultr Client"
Need to update to GoVultr client

[2019-07-27 15:14] ddymko opened #7 "Update Readme"
Update the readme to reflect govultr and appropriate changes

[2019-07-27 15:16] ddymko opened #8 "Update CI/CD"
Update Travis + Goreleaser to fall in line with Vultr requirements

[2019-07-27 15:16] #1 closed

[2019-07-27 15:16] #6 closed

[2019-08-05 15:17] #5 closed

[2019-08-06 13:31] #8 closed

[2019-08-07 13:10] ddymko commented on #7
delpoyed in https://github.com/vultr/packer-builder-vultr/pull/12

[2019-08-07 13:10] #7 closed

[2020-01-09 23:05] jdost opened #22 "[BUG] - Incompatible with Packer 1.5.1"
After my OS upgraded packer to the most recent build (`1.5.1`) using the plugin fails a pretty opaque way.  It seems they made breaking changes in the upgrade from `1.4.5` -> `1.5.0` around interface signatures for builders, which is likely the cause (but the error does not really surface this).

**To Reproduce**
Steps to reproduce the behavior:
1. Download recent packer version (e.g. `wget https:

[2020-01-13 13:29] ddymko commented on #22
@jdost

Thanks for spotting this - I'll take a look at addressing this today

[2020-01-13 15:41] ddymko commented on #22
@jdost

I have the changes for the v.1.5.x HCL/Interface updates however there is an bug with packer with 3rd party libs not working properly. It hasn't been merged into a main release yet so I'll work on getting a build with the nightly working.

https://github.com/hashicorp/packer/pull/8543

[2020-01-25 18:09] binaryfire opened #24 "[Feature] - Add to official Packer builder list"
Hi guys,

Are there any plans to partner with Hashicorp to get Vultr added as an official builder (rather than a third party / community one)? Linode, DO and Hetzner are all officially supported. Would be great to see Vultr there too.

[2020-01-25 20:04] ddymko commented on #24
Hey there,

We actually opened up a PR to packer to get us merged in as an official provider a while back.

However, packer is currently changing how they will be handling this provider plugins so we haven’t been able to get merged in. At this point we are waiting for packer to release this new approach for provider plugins.

You can read a more detailed response from packer here:
https://github.c

[2020-01-25 21:08] binaryfire commented on #24
@ddymko Ah right, I see. Thanks for the quick reply and the info. Hopefully they release their new approach soon.

PS. I was also wondering if there is a size limit for images on Vultr? For example Linode limits them to 2GB

[2020-02-14 13:58] #22 closed

[2020-02-21 08:20] thehunmonkgroup opened #26 "[Feature] - Allow setting root password"
**Is your feature request related to a problem? Please describe.**
There is no way currently to set the root password that ends up in the snapshot. This is problematic, as if VMs created from the snapshot have network issues, it's much harder to log in via the NoVNC feature.

**Describe the solution you'd like**
A simple ```root_password``` parameter which would then be passed to the server creati

[2020-02-28 06:40] mikefaraponov opened #27 "[Feature] - Upgrade to latest packer version"
**Is your feature request related to a problem? Please describe.**
This builder doesn't work with latest packer version

**Describe the solution you'd like**
Switch to latest packer plugin API

**Describe alternatives you've considered**
-

**Additional context**
-

[2020-02-28 10:31] ddymko commented on #27
The latest version of packer is 1.5.2
https://github.com/hashicorp/packer/releases

We are on the latest version:
https://github.com/vultr/packer-builder-vultr/blob/master/go.mod#L7

Packer and third party plugins were broken in 1.5.0 and 1.5.1
https://github.com/vultr/packer-builder-vultr/issues/22
https://github.com/vultr/packer-builder-vultr/pull/23

[2020-02-28 11:01] ddymko commented on #27
ah sorry - I didn't see the .3 and .4 tags github was hiding them - I'll update to the latest .4 release.

[2020-02-28 11:17] mikefaraponov commented on #27
No, I am sorry, looks like I am mistaken, it is compatible with latest version of packer 1.5+

[2020-02-28 11:17] #27 closed

[2020-04-01 16:55] thibpoullain opened #36 "Init builder permission issue on mac"
Hi guys !

I'm on Mac catalina.
I followed all the instruction

[code]

I put this in my .zshrc

[code]

My .json file looks like this :

[code]

And the command

`packer validate vultr.json`

return

`Failed to initialize build 'vultr': error initializing builder 'vultr': fork/exec /usr/local/bin: permission denied`

So I checked the permissions :

[code]

And I don't know what's wrong... Thx!

[2020-04-01 18:08] ddymko commented on #36
Hey @thibpoullain

I pulled down the repo and went through the same steps you described and was able to get the plugin to validate my json. I am also running on MacOS catalina on Go 1.14.1

This seems to be with your go setup.

We do have prebuilt binaries for the vultr plugin which may make things easier if you are looking just to use the plugin: https://github.com/vultr/packer-builder-vultr/rele

[2020-04-14 14:35] #36 closed

[2020-08-03 19:21] TimothyEarley opened #55 "[BUG] - How to configure IPv6 only plan"
**Describe the bug**
When trying to create a snapshot for a plan that only includes an IPv6 address (i.e. the 2.50$ / month plan, 199), packer tries to connect using the IPv4 address causing a timeout.

The same setup works when switching to a plan with IPv4 (tested with 201)

**To Reproduce**
server.json:
[code]

`packer build server.json`
**Expected behavior**
Packer should be able to connect.

[2020-08-03 19:31] ddymko commented on #55
@TimothyEarley The API doesn't support the $2.50 or $3.50 instances

https://www.vultr.com/api/#plans_plan_list

[2020-08-04 16:39] ddymko commented on #55
This is the expected behavior for v1 - The sandbox + ipv6 only plan ($2.50 and $3.50) are not usable through the API.

[2020-08-04 16:39] #55 closed

[2020-08-04 16:47] TimothyEarley commented on #55
Okay, thanks for looking into it. Sorry I missed the part on the API not being available.

I guess I was thrown off by the fact that everything else up to that point worked, i.e. the creation of the server with the correct plan. Incidentally, the terraform plugin had no issues with the IPv6 only plan.

[2020-08-04 16:49] ddymko commented on #55
This was a bug with v1 of the API that was producing strange behavior. It's been patched to prevent headaches like this

[2020-09-08 12:06] ddymko opened #62 "[Feature] - V2 upgrade"
With API v2 being in developer preview - GoVultr has a beta release

https://github.com/vultr/govultr/releases/tag/v2.0.0-beta.1

Packer should be updated to be using V2 of the API.

[2020-09-10 06:40] dependabot-preview[bot] opened #63 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/vultr/update-logs/46881358).

[2020-09-10 21:39] inflatador opened #64 "[BUG] - Undesired SSH behavior during custom OS installation"
**Describe the bug**
Undesired SSH behavior during custom OS installation

**To Reproduce**
Steps to reproduce the behavior:
1. Create a vultr instance with an iPXE script and kickstart. The vultr builder will attempt to login immediately, even though the OS isn't finished installing. It fails, although its log message claims it connected successfully (during the kickstart installation, the instan

[2020-09-11 06:24] #63 closed

[2020-09-14 13:24] inflatador commented on #64
Not at all.
[code]
Important to note: the 'myuser' user is created during the OS install, and isn't available until the kickstart script finishes and the instance reboots. Reach out if you need more info. Thanks again for taking a look at this!

[2020-09-15 13:51] ddymko commented on #64
@inflatador

Taking a look at the 1st error message I noticed
`[ERROR] could not connect to local agent socket: /tmp/ssh-lkZn5kJo3p/agent.1824592`

I would recommend trying setting `ssh_disable_agent_forwarding` to true to see if this will help
https://www.packer.io/docs/communicators/ssh#ssh_disable_agent_forwarding

We will also look into updating the provider to use allow use of the ssh communi

[2020-11-10 11:04] bbros-dev opened #76 "[BUG] - Debug: Build 'vultr' errored ... vultr_vultr.pem: file already closed"
**Describe the bug**
Vultr builder fails when debug option is passed to Packer.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a packer build configuration,`vultr-server.json`:

[code]

2. Rn the command: `packer build -debug vultr-server.json`
4. See error: `Build 'vultr' errored after 1 second 640 milliseconds: Error setting permissions of debug key: chmod vultr_vultr.pem: file alr

[2020-11-10 22:26] bbros-dev opened #77 "[BUG] - Vultr builder snapshot fails to run using Vultr Platform launch pages"
**Describe the bug**
We build a DigitalOcean snapshot and launch it without error.

1. Change from `packer build -only=digitalocean ...`  to `packer build -only=vultr ...`
2. Build completes without error.
3. Snapshot is created without error.
4. Launch Vultr Cloud instance using Vultr pages.
5. Instance fails to start with error per console log provided in [Vultr Support issue](https://my.vultr.c

[2020-11-10 23:18] ddymko commented on #76
we'll look into this for you

[2020-11-10 23:18] ddymko commented on #77
hey @bbros-dev

Thanks for writing in. Can you supply the json you used to build this image?

This may be 1 of 2 problems

- Packer isn't properly building the image
- The UI is having issues restoring the snapshot

[2020-11-11 00:22] bbros-dev commented on #77
We can supply the JSON (below), but not the scripts it calls on - the log below gives some insight into the script actions.

As best we can tell the Packer log (below) we see suggests no error, however we cannot get the debug log due to issue #76 .
We can't download the snapshot, so can't inspect the MBR, etc. We'll have to leave that with you.

Packer JSON:

[code]

Packer log:

[code]

[2020-11-11 00:32] ddymko commented on #77
@bbros-dev Thanks we'll take a look

[2020-11-11 00:35] Oogy commented on #77
@bbros-dev It appears you booted to kernel `4.15.0-122-generic` in the screenshot, however the most recent logs show `4.15.0-123-generic` is installed. Could you please confirm whether or not the issue also occurs on the more recent `4.15.0-123-generic` kernel?

[2020-11-11 00:36] bbros-dev commented on #77
Checking.  Standby...

[2020-11-11 01:50] bbros-dev commented on #77
Additional heads-up, it appears that instances in this state have their CPU pegged at 100%:

![Screenshot from 2020-11-11 12-48-43](https://user-images.githubusercontent.com/60454087/98755310-68bf8c00-241c-11eb-8c99-d2b7dd253578.png)

[2020-11-11 13:51] ddymko commented on #77
@bbros-dev Based on the screenshots that you are sharing the Kernel Panic is the most suspicious. I am able to build images with packer based on ubuntu 18.04 (and other base OS) and have no trouble restoring them via snapshots.

Also we do have a patch for #76 in https://github.com/vultr/packer-builder-vultr/pull/78 we'll get this merged in and released today

[2020-11-11 14:00] ddymko commented on #77
Would you also let us know which Virtualbox Version and VirtualBoxGuest Additions versions you are running?

[2020-11-11 14:26] #76 closed

[2020-11-11 16:53] Oogy commented on #77
@bbros-dev Could we get a screenshot of an instances kernel parameters prior to booting?

[2020-11-11 21:21] bbros-dev commented on #77
We use VBoxManage is `5.2.42_Ubuntur137960`.
The Build scripts for these have drifted while we try to get Cloud vendor images/snapshots built, we' likely will move to KVM rather than get vbox to work.  I wouldn't expect these to currently work for us.

I can get that through the Vultr Web pages?
Support are asking me to start an instance, I assume you can inspect from their tools?

[2020-11-11 21:36] Oogy commented on #77
@bbros-dev

Correct. That was me, I would like to take a closer look. As this appears to be an issue with how the instance is configured and how the platform is responding to that configuration rather than the Vultr builder(as indicated by the fact we can build and boot an Ubuntu 18.04 based snapshot without issue) I would like to proceed there - any pertinent details can be posted here once the c

[2020-11-11 21:40] bbros-dev commented on #77
I've rebuilt the images.  On DigitalOcean:

![Screenshot from 2020-11-12 08-39-32](https://user-images.githubusercontent.com/60454087/98867445-a4ad2c80-24c2-11eb-9209-9a3badb9eaf7.png)

I'll start the Vultr instance now.

[2020-11-11 21:52] bbros-dev commented on #77
Okay 0.4.0 snapshot works !  I'll try to dig into what caused the breakage this side.

In case you still want to check the 'borken' version I've started it too - the snapshot with 0.3.0 in its label.

[2020-11-11 22:05] Oogy commented on #77
@bbros-dev
It appears the issue is with the `root=` portion of the kernel line. In your `0.3.0` build, it is set to `root=/dev/vda1` in the kernel `4.15.0-123-generic` grub config.

For the older kernel(`4.15.0-118-generic`) still present in your `0.3.0` build the kernel points to `root=UUID=<uuid>` and boots without issue.

I suspect your `0.4.0` build kernel line is pointing to the UUID as well.

[2020-11-11 22:08] Oogy commented on #77
Also the instance can be destroyed whenever you are ready.

[2020-11-11 22:35] bbros-dev commented on #77
Thanks, that is very puzzling.  We don't alter the `root=` kernel parameter.  We'll dig some more to try to get the root cause of that change.

[2020-11-11 22:57] bbros-dev commented on #77
Okay, in our whole code base the only occurrence of `vda` is in the QEMU builder where we have in the `boot_command` list one entry: `grub-installer/bootdev=/dev/vda<wait>`

We aren't Go users, so this is pure speculation:

This would mean the QEMU builder settings are leaking into the Vultr builder, but *only sometimes*.
Quick search for `qemu` in the Vultr builder code turned up the DigitalOcean

[2020-11-11 23:06] bbros-dev commented on #77
This is doubly puzzling, only once do we do:
[code]
 We aren't `dist-upgrade` experts but it looks like it incrementally walks through some kernels?

[2020-11-23 16:39] #62 closed

[2020-11-23 16:50] #64 closed

[2020-12-08 12:28] tomasbasham opened #88 "[BUG] - Setting the SSH username has no effect"
**Describe the bug**
The [documentation](https://github.com/vultr/packer-builder-vultr/blob/master/website/source/docs/builders/vultr.html.md) suggests that the `ssh_username` can be set to influence the creation of the snapshot but I don't think this is actually the case. The [configuration](https://github.com/vultr/packer-builder-vultr/blob/master/vultr/config.go#L16) type does not mention this

[2020-12-08 14:28] ddymko commented on #88
Correct, the `basic example` in the documentation is wrong we don't have a `ssh_username`. I will update the documentation.

[2020-12-08 14:28] #88 closed

[2020-12-11 01:44] bbros-dev opened #89 "[BUG] - packer -debug flag fails: Error setting permissions of debug key: chmod vultr_vultr.pem: file already closed"
**Describe the bug**

Adding the `-debug` flag to `PACKER_LOG=1 packer ...` causes the build to fail:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run:  `PACKER_LOG=1 packer -debug ...`

**Expected behavior**

A build specific private SSH key is created and saved locally.

**Screenshots**

NA

**Desktop (please complete the following information where applicable:**
 - OS: Linux de

[2020-12-11 13:26] ddymko commented on #89
@bbros-dev What version of the vultr-builder are you running on?

[2020-12-15 05:58] bbros-dev commented on #89
1.0.15

[2020-12-15 15:07] ddymko commented on #89
I tested this on v1.0.15 and v2.0.0 and it doesn't throw this error. This was originally brought up in #76 which we did patch

[code]

[2020-12-15 15:17] #77 closed

[2020-12-15 22:06] bbros-dev commented on #89
This json has evolved and seems to be triggering it again.  Will try to get a smaller reproducible example to provide.

[2021-01-06 23:12] insanebaba opened #95 "[BUG] - Unable to use ssh_key_ids"
**Describe the bug**
Setting ssh_key_ids in the builder throws error

**To Reproduce**
Steps to reproduce the behavior:
1. Take any basic example and pass ssh_key_ids
2. I used key name, key id from url. nothing works

**Expected behavior**
ssh keys are added to mentioned user

**Desktop (please complete the following information where applicable:**
 - OS: Debian
 - Language Version latest

**Addi

[2021-01-06 23:22] insanebaba commented on #95
resolved it by using https://www.vultr.com/api/?query=ssh#sshkey_sshkey_list#v2_id should be mentioned in readme though

[2021-01-06 23:22] #95 closed

[2021-02-11 06:00] bbros-dev commented on #77
In case anyone else happens along this path....

This appears to be some issue with kernel packages (Ubuntu 18.04).  We've encountered this on some builds. but not others.  In no case do we configure the kernel or grub.

The only workaround that consistently solves this is to add the following as your first provisioning step:

[code]

[2021-02-11 07:14] bbros-dev commented on #89
Closing.  Our plugin install script hadn't applied the upgrade to 1.0.15.
Apologies.

Would be nice for the plugin to log it's version number in debug mode?

[2021-02-11 07:14] #89 closed

[2021-02-11 23:19] bbros-dev opened #103 "[Feature] - Document Mapping: Terraform Argument Name to Vultr Documentation"
**Is your feature request related to a problem? Please describe.**
Working with across several Cloud providers we rely on clear documentation to stay sane.  Clear documentation is explicit documentation.

**Describe the solution you'd like**
When I read in the Terraform doc page:

I have **no idea** what that means in practice:

- Is this ID the one Vultr generates for a snapshot - the UUID lookin

[2021-02-12 00:12] ddymko commented on #103
@bbros-dev Please refrain from the very unnecessary snarky comments.

Please familiarize yourself with our Code of Conduct here : https://github.com/vultr/.github/blob/master/CODE_OF_CONDUCT.md#our-standards

The `snapshot_id` is the ID of the snapshot. All resources that have ID relate to the ID of that resource
example: firewall_id, script_id, ssh_key_id, etc

You can also take a look at

https:

[2021-02-12 00:12] #103 closed

[2021-02-12 07:24] bbros-dev commented on #103
Yeah, apologies, none of the documents are any real help.

[2021-02-12 18:57] michaelspringer opened #105 "[BUG] - Error creating server: {"message":"please provide only one os_id, app_id, or snapshot_id","status":400}"
**Describe the bug**

When attempting to build an image using '**snapshot_id**' with '**os_id**', or building with only '**snapshot_id**', the API returns:

`'please provide only one os_id, app_id, or snapshot_id","status":400}'`

I am unable to find a combination of configuration options to build from a snapshot. (Also same with problem with iso_id)

**To Reproduce**
[code]

**Error**
[code]

[2021-02-12 19:20] ddymko commented on #105
@michaelspringer Thanks for creating the ticket. We'll look into this

[2021-02-16 13:30] filipetoscano opened #107 "[Feature] - Smaller snapshot size"
**Is your feature request related to a problem? Please describe.**
Taking a snapshot of an instance with a 25 GB disk yields a 25 GB snapshot even if only a fraction of the disk is being used -- which results in:

* High time to take a snapshot (not major, since new base images aren't created all the time);
* Takes time to spin new instances (annoying, since the purpose of using packer+terraform w

[2021-02-16 14:28] ddymko commented on #107
@filipetoscano

This is something that could be addressed by zeroing out the unused space on the volume with a shell provisioner in your packer setup
https://www.packer.io/docs/provisioners/shell

[2021-02-16 16:06] #105 closed

[2021-02-16 17:22] filipetoscano commented on #107
Hi @ddymko !

The remark on snapshot is with regards to a newly spun up instance (by packer) -- how could the virtual disk grow to the full 25 GB by running a handful of scripts?

Do you have any automated recipe for zeroing out unused space?

In order to use zerofree, you need to reboot into a read-only `/dev/vda1` -- at least I couldn't do a live remount, not even after stopping services/killing

[2021-02-16 17:45] ddymko commented on #107
You could have a shell provisioner run something such as

[code]

[2021-02-17 16:39] ddymko opened #111 "[Feature] - Packer 1.7.0 updates"
Packer 1.7.0 introduces new changes that are backwards breaking.

One of the newest changes is offering support for `packer init` which allows you to pull down packer plugins through packer.

https://www.packer.io/docs/commands/init

https://github.com/hashicorp/packer/blob/master/website/content/guides/1.7-plugin-upgrade.mdx

* [x] Rename repo
* [x] GPG keys
* [x] Setup recommended Github Action

[2021-02-18 06:03] dependabot-preview[bot] opened #113 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/vultr/update-logs/68319139).

[2021-02-19 08:56] bbros-dev opened #114 "[BUG] - Error: Failed to initialize build "vultr""
**Describe the bug**
`packer build....` produces this error after updating Packer to `1.6.5`

**To Reproduce**
Steps to reproduce the behavior:
1. Our Chef recipes update Packer to 1.6.5 and Vultr to 2.2.0. These same recipes have installed Packer and Vultr previously.
2. Run `packer build....`
3. See error:

[code]

**Expected behavior**
Packer build proceeds.

**Screenshots**
Not applicable.

**

[2021-02-19 13:25] ddymko commented on #114
@bbros-dev

In the last few days Packer release v1.7.0 which introduced a new design and changes to how plugins interact with Packer. This release was a breaking change as plugins built without the required v1.7.0 changes will not work and plugins built with the required v1.7.0 changes won't work on v1.6.x.

see:
https://github.com/vultr/packer-builder-vultr/releases/tag/v2.2.0
https://github.com/

[2021-02-19 13:25] #114 closed

[2021-02-21 21:39] sloan-dog opened #115 "Invalid attribute value type"
SYS INFO:
System: macOS Big Sur 11.1
CPU: Intel Core i7 6 Core 2.6 Ghz

`go version ->  go1.15 darwin/amd64`
Using plugin version 2.2.0 from releases page

running `packer build vultr-docker-compose.packer.template.json.pkr.hcl`

with the following template produces this error
[code]

hcl template:
[code]

[2021-02-22 14:53] ddymko commented on #115
@sloan-dog do you know the exact version of the packer plugin you are using?

Version 2.0.0+ had switched to use Vultr API v2 which made the `plan_id` a string
https://github.com/vultr/packer-builder-vultr/blob/v2.0.0/vultr/config.go#L25

Versions v1.0.0+ had used `plan_id` as ints
https://github.com/vultr/packer-builder-vultr/blob/v1.0.15/vultr/config.go#L25

[2021-02-23 20:51] sloan-dog commented on #115
@ddymko Thanks for reply. I downloaded the pre-compiled bin packer-builder-vultr_2.2.0 for mac and dropped that in root of packer workspace.I suppose it is possible, packer build is getting that from somewhere else but when i did not put it directly in workspace, it bailed, complaining about missing plugins for spec. Is there a way to audit during execution the version of a plugin being called?

[2021-02-23 20:59] sloan-dog commented on #115
I also tried building the vultr plugin from source "running go build" and then copy'ing the binary into my working dir. I had same result, that repo locally's latest hash is `8305ca2b81c4c4521ea923fe1068f7e1d84859a5`

[2021-02-24 00:50] ddymko commented on #115
@sloan-dog

The issue was the HCL config was never updated to support the API v2 attributes
https://github.com/vultr/packer-builder-vultr/blob/master/vultr/config.hcl2spec.go#L61

I regenerated the HCL config and submitted a PR to address this. We'll get it merged in a cut a new release for this tomorrow.

Sorry for troubles!

[2021-02-24 21:30] sloan-dog commented on #115
@ddymko Thanks for quick turnaround! Open source!

[2021-02-25 00:46] #115 closed

[2021-03-31 06:04] #113 closed

[2021-03-31 06:04] dependabot-preview[bot] opened #118 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/vultr/update-logs/74650154).

[2021-04-02 06:04] #118 closed

[2021-04-02 06:04] dependabot-preview[bot] opened #119 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/vultr/update-logs/75023853).

[2021-04-12 18:25] ddymko commented on #111
- Repo renamed
- GPG keys created and added as secrets

PR for github actions and packer init support will be pushed up

[2021-04-13 06:06] dependabot-preview[bot] opened #121 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/vultr/update-logs/76424695).

[2021-04-13 06:06] #119 closed

[2021-04-13 12:04] #121 closed

[2021-04-13 13:50] ddymko commented on #111
Packer init

[code]

Packer build

[code]

[2021-04-13 13:50] #111 closed

[2021-04-13 13:51] ddymko commented on #24
With vultr v2.3.0 we now support `packer init` functionality which doesn't require pulling binaries by hand

#111

[2021-04-13 13:51] #24 closed

[2021-04-13 13:52] #107 closed

[2021-04-14 06:02] dependabot-preview[bot] opened #123 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/vultr/update-logs/76579789).

[2021-04-14 12:13] #123 closed

[2021-04-14 12:21] dependabot-preview[bot] opened #124 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/vultr/update-logs/76630750).

[2021-04-14 12:22] #124 closed

[2021-06-28 15:47] mkrn commented on #26
Any workarounds to this? Currently not able to sign in to created instances at all. It requires password even though I've added pub key to ~/.ssh/authorized_keys and added SSH key through Vultr panel

[2021-06-28 16:05] ddymko commented on #26
@mkrn

The work around now to change the PW would be to run

[code]

We'll work on getting `root_password` parameter added in quickly and hopefully have a new release be EOW

[2021-07-02 19:03] ddymko commented on #26
Hey @mkrn I did some digging into this and supporting root password isn't something that we will be able to do since the API doesn't support this.

You will have to continue to use a script such as

[code]

to provision the PW

[2022-03-01 21:43] nywilken opened #177 "[Feature] - Update to packer-sdc command for validating plugin compatibility"
👋 Fellow Packer maintainer here,  reaching out to inform you about an upcoming breaking change that will affect your goreleaser release pipeline. In Packer 1.8.0 we will remove the [`packer-plugin-check`](github.com/hashicorp/packer/cmd/packer-plugins-check) command in Packer core in favor of the [`packer-sdc plugin-check`](https://github.com/hashicorp/packer-plugin-sdk/cmd/packer-sdc) command fro

[2022-03-26 22:38] man0v opened #179 "[BUG] - Cannot build arch linux image with default settings"
**Describe the bug**
A basic build(using the example) of arch linux is not possible due to SSH on arch-linux not accepting ssh-rsa keys(which apparently this plugin uses).

**To Reproduce**
Steps to reproduce the behavior:
1. Try to build vanilla.pkr.hcl.txt(attached)

**Expected behavior**
A clean build(no provisioners being applied) and a snapshot being created.

**Screenshots**
<img width="2048

[2022-03-26 23:43] ddymko commented on #179
@man0v

To answer some of your questions

We create the temporary ssh keys with the RSA...this was the "default" way the packer plugins handled this.
https://github.com/vultr/packer-plugin-vultr/blob/master/builder/vultr/step_create_ssh_key.go#L35

However, we can look into seeing if there are any changes we can do.

Yeah, this is the official Vultr github organization.

[2022-03-27 06:46] man0v commented on #179
@ddymko Personally I think that it'll be best if the two issues that I mentioned are fixed in the stock arch linux image as opposed to here in packer. For me the problems are with the stock image and they just make it so this plugin fails too. AWS and Google arch linux stock images don't do pacman -Syu at boot. It should be user controlled, not enforced to users.

[2022-03-28 13:16] ddymko commented on #179
@man0v

To clarify here. We will not be making any changes specific to the packer plugin for arch linux. We will look to make our packer plugin allow different kinds of SSH types. This will then be a generic solution for all OS kinds.

The `pacman -Syu` isn't something we will be able to solve for you within the packer plugin.

[2022-03-30 15:47] man0v commented on #179
@eb3095
I did put it to 30 min but it makes no difference. On top of that, after I run my cloud-init(to allow ssh-rsa) I connect while pacman is still running and also when I run in debug mode I see ssh error saying that ssh-rsa is not allowed on this server.

@ddymko is there a place I can raise the isssue with the pacman -Syu?

[2022-03-30 15:57] man0v commented on #179
@eb3095
Please run my code, with the files attached(as vanilla as possible) in debug mode and see what the sshd log is full of.

[2022-06-03 14:58] deiucanta opened #187 "[BUG] - "Error waiting for SSH" when using Ubuntu 22.04 as base image"
I have a working build on Vultr's Marketplace which is based on Ubuntu 20.04. Today I tried to upgrade to Ubuntu 22.04 but it gives me a timeout because it cannot connect to the server.

I'm using the latest version of the packer plugin (2.4.4). The `os_id` for Ubuntu 22.04 is `1743`.

[2022-06-05 19:34] tomasbasham opened #189 "[Feature] - Builds fail when publishing to HCP Packer"
**Describe the bug**

When building an image and publishing build metadata to HCP Packer the post-processing stage fails and this in turn cleans up all the work done by the Vultr Packer plugin. Effectively the image build succeeds - I know this to be true as I am able to view all the assets in the Vultr dashboard, but when the post-processing stage kicks in the process fails with the following mes

[2022-06-06 14:01] optik-aper commented on #189
I am able to reproduce and will look into this.  Thanks for reporting it.

[2022-06-06 16:23] optik-aper commented on #189
It looks like we'll have to modify the plugin to match the required schema for the HCP registry.  [Documentation here](https://www.packer.io/docs/plugins/hcp-support).

[2022-06-07 11:54] ddymko commented on #187
@optik-aper can you look into this

[2022-06-07 13:09] optik-aper commented on #189
@tomasbasham We merged support for this into master if you want to give it a try.  It'll be in the next release if you'd rather wait for a binary.

[2022-06-07 13:15] #177 closed

[2022-06-07 14:10] optik-aper commented on #187
@deiucanta I'm not seeing this happen with a new instance/snapshot:
[code]
When I run this config I get a successful build:
[code]
If you're still seeing this error will you send a config for me to test?

[2022-06-07 14:33] deiucanta commented on #187
@optik-aper I just tested with your config from the previous message. Here is my output

[code]

[2022-06-07 16:37] optik-aper commented on #187
This looks to be related to [this](https://github.com/hashicorp/packer/issues/11656#issuecomment-1118869786) Packer issue.  We already merged in the updated SDK and it's working on the main branch.  We'll make a new release soon to get this fix out there.

This also appears to be the issue with #179

[2022-06-07 17:59] #187 closed

[2022-06-07 19:18] optik-aper commented on #189
@tomasbasham Release [v2.4.5](https://github.com/vultr/packer-plugin-vultr/releases/tag/v2.4.5) adds support for the HCP registry if you want to check it out.

[2022-06-07 19:18] #189 closed

[2022-06-07 19:19] tomasbasham commented on #189
Magic, thank you. I'll check that out.

[2022-06-08 09:05] man0v opened #195 "Cannot build Arch linux image"
**Describe the bug**
Packer build of arch linux image is impossible due to nmcli/cloud-init issue.

**To Reproduce**

Try to build vanilla.pkr.hcl.txt(attached)
`mv vanilla.pkr.hcl{.txt,}`
`packer init vanilla.pkr.hcl`
`packer build vanilla.pkr.hcl`

**Expected behavior**
A clean build(no provisioners being applied) and a snapshot being created.

**Screenshots**
![screen1](https://user-images.gith

[2022-06-08 14:23] optik-aper commented on #195
I was able to build arch images when I was testing the SDK yesterday but I'm seeing the same issues you've reported here so we'll have to take another look.  Thanks for reporting this.

[2022-06-12 18:36] danielfdickinson opened #197 "[Feature] - Add 'boot_command' over VNC like Qemu builder"
**Is your feature request related to a problem? Please describe.**

The Alpine Linux ISO does not include cloud-init which means initial setup has to be done over VNC. With the Packer Qemu build there is a `boot_command` option that allows to interact with the instance over VNC in order to do 'just enough' to SSH in.

I have utilized this ability to [create a QCOW2 image from the Alpine ISO that i

[2022-06-13 15:23] Oogy commented on #197
Hello @danielfdickinson,

Another option, as [Vultr supports iPXE booting](https://www.vultr.com/docs/ipxe-boot-feature/), is to [netboot Alpine](https://boot.alpinelinux.org/) with an iPXE script. The `ssh_key` [and other options](https://wiki.alpinelinux.org/wiki/PXE_boot) may be provided to the iPXE script to help with initial provisioning/access.

This should be nicer to work with than your pr

[2022-06-13 23:56] danielfdickinson commented on #197
Hello @Oogy,

Thank you for your response. I looked the the iPXE and netboot links you provided, and I have done netboot on a local network before. I think netboot needs more 'moving parts' than a Packer `boot_command` and even without `boot_command`, given that I already have a core image (i.e. that I just need to upload the snapshot and can provision via Packer using SSH) I think netboot would i

[2022-06-17 17:45] danielfdickinson commented on #197
I decided to take another look at the iPXE option and found a [Libvirt iPXE boot guide](https://dustymabe.com/2019/09/13/update-on-easy-pxe-boot-testing-post-minus-pxelinux/) that let me know that there were less required moving parts than I thought.
My question for the Vultr Packer plugin (this repo) is whether

means I would not be able to use `script_id` (pointed to an iPXE script) with Alpine

[2022-06-17 18:08] Oogy commented on #197
Hello @danielfdickinson,

I'm glad to see you've revisited the idea, iPXE is quite nice to work with IMO.

It appears the description for `script_id` may need to be amended, as written I believe that is only valid for a startup script of type `boot`.

There are 2 types of scripts supported by Vultr, `boot` and `pxe` scripts. Both are specified via the `script_id`.

So in the case of PXE booting, s

[2022-06-18 05:42] danielfdickinson commented on #197
@Oogy iPXE is now working for me :tada:. The description for `script_id` does need to be update as using a 'custom os' (159) and a PXE script worked (with one caveat).

It seems though that the kernel and initrd URLs cannot be HTTPS even though iPXE reports as having HTTPS support (HTTPS works for me with iPXE under libvirt though, so it's probably a version or build issue, possibly because my ins

[2022-06-18 20:17] Oogy commented on #197
@danielfdickinson glad to hear it. On Monday I'll open up an issue for updating the docs as well as look into the HTTPS problem. Last I'd experimented with this I was netbooting Flatcar Linux using HTTPS URLs so I'm pretty sure that should work.

If you could share any errors or console screenshots that'd be a great help.

[2022-06-19 01:44] danielfdickinson commented on #197
Would you like the netboot screenshots here, or is there a better place (like a Vultr ticket) that would be better?

[2022-06-19 16:29] Oogy commented on #197
@danielfdickinson here is fine 👍

[2022-06-20 02:56] danielfdickinson commented on #197
Here is a screenshot when kernel is https:

![Screenshot from 2022-06-19 22-43-48](https://user-images.githubusercontent.com/20735818/174516810-f65d252e-c680-4eac-9635-b3e3ff430b79.png)

and here is the iPXE script:

[code]

And as mentioned, it works if I change

[code]
to
[code]

[2022-06-20 19:38] Oogy commented on #197
Hello @danielfdickinson,

I've taken some time to look at this and I think the issue may be that the Common Name in your LE cert is different from the domain in the base-url. I have no proof of this as the iPXE errors are not terribly helpful and we cannot enable debug mode(as this requires a separate build of the iPXE binary), but it is the only notable difference I can see between your cert and

[2022-06-20 21:11] danielfdickinson commented on #197
Hey @Oogy,

Thank you for looking at. Changing the CN didn't solve the issue, but it did get me looking at things like server logs and DNS records and I realized that I had ipxe-boot.wildtechgarden.ca as a CNAME and the CNAME was not the commonName on the cert. I've switched ipxe-boot to A and AAAA records (since I did switch the CN to ipxe-boot...) and once the TTLs clear out, I'll give it anothe

[2022-06-21 03:59] danielfdickinson commented on #197
I have confirmation that it is iPXE rejecting the connection and not on the server side -- with lighttpd I got `(mod_openssl.c.3213) SSL: -1 5 0: No error information` and when I increase the minimum cipher level the lighttpd logs change to `(mod_openssl.c.3249) SSL: 1 error:1417A0C1:SSL routines:tls_post_process_client_hello:
no shared cipher (ip-address)` and the iPXE error message changes to "E

[2022-06-21 04:51] danielfdickinson commented on #197
:fireworks: :partying_face: Got it!

The PR 116 for iPXE mentioned above showed me the way. I needed to use `--preferrred-chain "ISRG Root X1"` for me LE certificate, as described in one of the comments: https://github.com/ipxe/ipxe/pull/116#issuecomment-862709507

I also needed to use slightly less secure lighttpd settings than idea (but which are the current defaults for compatibility reasons).

[2022-06-26 05:51] gstrauss commented on #197
@danielfdickinson I'd like some more details, please, as lighttpd has announced plans to change TLS defaults to be stricter in a release some time in Jan 2023.  What were the client limitations?  Most frequently in my experience, `"MinProtocol" => "TLSv1.2"` is compatible with the vast majority of clients.  Are you sure that the client could not support `"CipherString" => "EECDH+AESGCM:AES256+EECD

[2022-06-26 05:58] gstrauss commented on #197
lighttpd supports Let's Encrypt bootstrap using TLS-ALPN-01 verification challenge
https://wiki.lighttpd.net/HowToSimpleSSL

[2022-06-27 00:31] danielfdickinson commented on #197
@gstrauss

Yes. I get `(mod_openssl.c.3249) SSL: 1 error:1417A0C1:SSL routines:tls_post_process_client_hello: no shared cipher (ip-address)` if I use
[code]
In addition at [the iPXE crypto docs](https://ipxe.org/crypto) I see the following table:

| Protocol versions | TLSv1.0 TLSv1.1 TLSv1.2 |
|-----------------|-------------------------|
| Public Key Algorithm | RSA |
| Block cipher algorithmss

[2022-06-27 00:37] danielfdickinson commented on #197
@gstrauss

Nice. But not quite solving the wildcard (`*.example.com`) thing, which is what I was commenting on. AFAICT the TLS-ALPN-01 requires a matching DNS entry (so specific name, not a wildcard, unless I'm misreading the docs).

[2022-06-27 02:17] gstrauss commented on #197
@danielfdickinson thank you for the details.  New releases of lighttpd on or after Jan 2023 will have stricter TLS defaults and "CipherString" will need to be manually configured in lighttpd.conf to include one or more of those ciphers to work with iPXE: `AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA`.  If you must enable the older ciphers, I'd recommend adding only `AES256-SHA256` and seeing